.product-detail {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url('../../assets/imgs/png/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 30px 30px 20px;
    box-sizing: border-box;
}

.product-view{
    display: flex;
    gap: 1rem;
    width: max-content;
    padding: 0 1rem 0 1rem;
    color: #767676;
    border-bottom: #b2b2b2 1px solid;
    margin: 0 0 1rem 3rem;
}

.view-item.selected-view {
    border-bottom: #303030 1px solid;
    color: #303030;
}

.view-item {
    cursor: pointer;
}

.product-detail-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.product-detail-content{
    display: flex;
    height: 100%;
    box-sizing: border-box;
    gap: 1rem;
    width: 100%;
    padding: 0 3rem 0 3rem;
}

.size-chart-pic{
    width: 436px;
    height: 258px;
}

.product-detail-picture{
    width: 450px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
}

.product-detail-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.product-detail-info-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 2rem 0 2rem;
    width: 100%;
    box-sizing: border-box;
}
.product-favorite{
    background: #d07e50;
    border-radius: 50px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin: 1rem 0 0 1rem;
}
.product-name{
    font-weight: bold;
    font-size: 24px;
}
.product-price{
    font-weight: bold;
    font-size: 48px;
}
.product-size{
    font-weight: bold;
}
.product-description {
    text-align: left;
}

.download-pic-btn{
    width: 449px;
    height: 62px;
    border: none;
    background: #443D3A;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;
    box-sizing: border-box;
}

.download-description{
    width: 450px;
    height: 110px;
    background: #fff;
    border-radius: 10px;
    padding: 1%;
    align-items: center;
    display: flex;
}

.size-btn{
    border: none;
    background: inherit;
    width: 65px;
    height: 60px;
}

.size-btn.selected {
    background: #443D3A;
    color: #fff;
    border-radius: 10px;
}

.buy-el-btn{
    width: 361px;
    height: 69px;
    border: none;
    background: #D07E50;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 1rem;
    box-sizing: border-box;
}
