.content-container{
    background: url('../../assets/imgs/png/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search-block{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3% 0 3%;
}
.search-conditions{
    display: flex;
    gap: 1rem;
}
.s-condition{
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.s-condition.selected {
    background: #3D3D3D;
    color: #fff;
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
}
.search-icon{
    transform: translateX(-30px);
}
.search-input{
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    padding: 0 0 0 1rem;
    outline: none;
}

.items-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3%;
}

.content-card {
    flex: 1 1 calc(25% - 20px);
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
}
