.content-container{
    background: url('../../assets/imgs/png/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.search-block{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3% 0 3%;
}
.search-conditions{
    display: flex;
    gap: 1rem;
}
.s-condition{
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.s-condition.selected {
    background: #3D3D3D;
    color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 3%;
    width: max-content;
}
.search{
    display: flex;
    align-items: center;
}
.search-icon{
    transform: translateX(-30px);
    cursor: pointer;
}
.search-input{
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    padding: 0 0 0 1rem;
    outline: none;
}
.items-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3%;
}
.content-card {
    flex: 1 1 calc(25% - 20px);
    height: 347px;
    width: 266px;
    max-width: 383px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.product-image{
    width: 229px;
    height: 247px;
}
.content-product-name{
    color: #000;
    display: flex;
    align-items: flex-start;
}
.content-product-price{
    color: #000;
    font-weight: bold;
}
.content-card-element{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
