.favorite-page{
    background: url('../../../assets/imgs/png/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.favorite-title{
    color: #fff;
    border-bottom: #fff 1px solid;
    font-size: 24px;
    display: flex;
    padding: 1rem;
    margin: 0 1rem 1rem 1rem;
}
