.header-container{
    background: #443D3A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.contacts-block{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-pic{
    width: 405px;
    height: 99px;
    cursor: pointer;
}

.connect-btn{
    color: #D07E50;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
